/* First Picking my colors */
:root{
    --text : #fcfbfe ;
    --bg : #0d0632;
    --pb : #7837d3;
    --sb : #46a6fa;
    --acc :#4df7bd;
}
*{
    /* background: linear-gradient(to right, #7837d3, #4df7bd); */
    /* background: var(--bg); */
    color: var(--text);
}
html {
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(90deg, #080011,#252050, #39115f, #252050, #080011);
}
footer{
    background: linear-gradient(90deg, #080011,#252050, #39115f, #252050, #080011);
}
header{
    background: linear-gradient(45deg,#080011, #290268,#513dff, #19115f, #252050, #350669,#513dff,#290268,#080011);
    height: 110px;
    margin-top: -12px;
}
nav{
    height: 121px;
    margin-left: -200px;
    margin-right: 0;
    
}
nav .container img{
    width: 170px;
}
.nav-items{
    padding-right: 70px;
    font-weight: bold;
    font-size: 20px;
}
.nav-items a:hover{
    color: var(--acc);
}
nav .navbar-nav li a{
    color: var(--text);
}
.navbar-icons{
    margin-right: -150px;
    font-size: 22px;
    padding: 22px;
    cursor: pointer;
}
.navbar-icons .fa-cart-plus{
    padding: 10px;
}
.navbar-icons .fa-cart-plus:hover{
    color: gold;
}
.navbar-icons .fa-right-to-bracket:hover{
    color: var(--acc);
}
/* .navbar-icons .fa-cart-plus,.fa-right-to-bracket{
    color: gold
} */
main{
    padding-top: 200px ;
}
.row-gap {
    margin-bottom: 70px; /* does add a bottom margin for the gap between rows */
}
.row-gap-2{
    margin-bottom: 10px; /* does add a bottom margin for the gap between rows */
}
.row-gap-3{
    margin-top: 50px; /* does add a bottom margin for the gap between rows */
    margin-bottom: 100px; /* does add a bottom margin for the gap between rows */
    overflow-x: hidden;
}
#xxx{
    margin-top: 50px;
}
.card-gap {
    margin-right: 37px; /* so we can Adjust the margin as needed */
}
.row-gap .col-md-2:last-child .game-card {
    margin-right: 0;
}
.game-card {
    position: relative;
    width: 200px;
    height: 280px;
    background-color: var(--bg);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
} 
.preview-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Initially hide the video */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.game-card:hover .preview-video {
    opacity: 1; /* Show the video on hover */
}

.game-card-bestsellers{
    width: 355px;
    height: 200px;
}
.game-card-bestsellers img{
    width: 100%;
    object-fit: cover;
}
.game-card-bestsellers:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.game-Categories{
    width: 355px;
    height: 180px;
    cursor: pointer;

}
.game-Categories:hover{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.game-Categories img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out ;

}
.game-card img {
    width: 100%;
    /* height: 100%; */
    display: block;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.game-details {
    padding: 10px;
}
.game-details h3 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.game-details p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #777;
}
.game-details .price {
    font-weight: bold;
    color: var(--pb);
}
.game-details .buy-btn {
    margin-top: 10px;
    
}
.game-details .buy-btn a {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--sb);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.game-details .buy-btn a:hover {
    background-color: var(--pb);
}
.Trend{
    display: flex;
    cursor: pointer;
}
.Trend h2{
    font-weight: 600;
    margin-bottom: 15px;
}
.Trend .fa-arrow-right{
    padding-left: 18px;
    padding-top: 15px;
    font-size: 20px;
}
.game-card {
    transition: transform 0.3s ease;
}
.game-card:hover {
    transform: scale(1.05);
}
.container-fluid {
    display: flex;
    flex-direction: column;
}
.row {
    flex-grow: 1;
}
/* footer css */
.custom-column {
    margin-left: 100px; /* Adjust the margin as needed */
}
#about-us{
    width: 200px;
    margin-left: 1px;
}
footer{
    background-color: var(--bg);
}
.container-fluid h5{
    font-weight: bold;
    color: var(--pb);
}
.list-unstyled a{
    text-decoration: none;
    color: var(--acc);
    font-weight: bold;
}
h1,h2,h3,h5,ul,i,p{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5),
                 4px 4px 3px rgba(0, 0, 0, 0.8),
                 6px 6px 5px rgba(0, 0, 0, 0.9);
}
li:hover{
    text-shadow: none;
}